<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upjf.fund.service.impl.business.mapper.StockRightsChangeAccessoryMapper">
  <resultMap id="BaseResultMap" type="com.upjf.fund.dto.StockRightsChangeAccessory">
    <id column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="stock_rights_change_id" jdbcType="VARCHAR" property="stockRightsChangeId" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, stock_rights_change_id, file_id, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock_rights_change_accessory
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from stock_rights_change_accessory
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.upjf.fund.dto.StockRightsChangeAccessory">
    <selectKey keyProperty="pid" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stock_rights_change_accessory (stock_rights_change_id, file_id, create_date
      )
    values (#{stockRightsChangeId,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.upjf.fund.dto.StockRightsChangeAccessory">
    <selectKey keyProperty="pid" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stock_rights_change_accessory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockRightsChangeId != null">
        stock_rights_change_id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockRightsChangeId != null">
        #{stockRightsChangeId,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.upjf.fund.dto.StockRightsChangeAccessory">
    update stock_rights_change_accessory
    <set>
      <if test="stockRightsChangeId != null">
        stock_rights_change_id = #{stockRightsChangeId,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.upjf.fund.dto.StockRightsChangeAccessory">
    update stock_rights_change_accessory
    set stock_rights_change_id = #{stockRightsChangeId,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  
  <insert id="batchInsertStockRightsChangeAccessory" parameterType="com.upjf.fund.dto.StockRightsChangeAccessory">
  	insert into stock_rights_change_accessory (
  		pid, 
  		stock_rights_change_id, 
  		file_id, 
  		create_date,
  		create_id
  	) values
  	<foreach collection="accessoryList" item="accessory" separator=",">
  		(
			#{accessory.pid},
			#{accessory.stockRightsChangeId},
			#{accessory.fileId},
			#{accessory.createDate},
			#{accessory.createId}
  		)
  	</foreach>
  </insert>
  
  <select id="getStockChangeAccessoryByStockRightsChangeId" resultType="map">
  	select 
	  	srca.pid,
	  	srca.stock_rights_change_id,
  		srca.file_id,
  		srca.create_date,
  		concat(eff.file_name,'.',eff.file_type) as file_all_name,
  	    (select ui.user_name from user_info ui where ui.pid = eff.create_id) as user_name,
  		eff.file_url
  	from stock_rights_change_accessory srca inner join estate_fund_file eff on srca.file_id = eff.pid
  	where srca.stock_rights_change_id =#{stockRightsChangeId,jdbcType=VARCHAR}	
  	order by create_date desc limit ${offset},${pageRows}
  </select>
  
  <select id="countStockChangeAccessoryByStockRightsChangeId" resultType="integer" parameterType="string">
  	select count(1) 
  	from stock_rights_change_accessory srca inner join estate_fund_file eff on srca.file_id = eff.pid
  	where srca.stock_rights_change_id =#{stockRightsChangeId,jdbcType=VARCHAR}
  </select>
  
</mapper>