<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- 日志输出到控制台 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %l %m%n" />
		</layout> 
		<!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>
	<!-- 输出日志到文件  每天一个文件 -->  
    <appender name="dailyRollingFile"  
        class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="info"></param>  
        <param name="encoding" value="UTF-8" />  
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="./../logs/server.log"></param>  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>
    
    <!-- 错误日志APPENDER -->  
   <appender name="dailyErrorFile" class="org.apache.log4j.DailyRollingFileAppender">  
     <param name="File" value="./../logs/error-info.log" />  
     <param name="Append" value="true" />  
     <param name="encoding" value="UTF-8" />  
     <param name="threshold" value="error" />  
     <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
     <layout class="org.apache.log4j.PatternLayout">  
        <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n" />  
     </layout>  
   </appender> 
   
    <!-- 下面是打印mybatis语句的配置-->
	 <logger name="org.mybatis.spring" additivity="true"> 
	   <level value="DEBUG" /> 
	 </logger> 
	 <logger name="Java.sql.Connection" additivity="true"> 
	   <level value="DEBUG" /> 
	 </logger> 
	 <logger name="java.sql.Statement" additivity="true"> 
	   <level value="DEBUG" /> 
	 </logger> 
	 <logger name="java.sql.PreparedStatement" additivity="true"> 
	   <level value="DEBUG" /> 
	 </logger> 
	 <logger name="java.sql.ResultSet" additivity="true"> 
	   <level value="DEBUG" /> 
	 </logger> 
    <!--   
	             定义全局的日志输出级别,但是在输出目的地的配置中配置的具体输出级别优先级高于全局定义的优先级。  
	   	如果在railyFile中定义<param name="Threshold" value="info"></param>，
	   	那么将会把info以上级别的信息输出  
     --> 
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyRollingFile" />
		<appender-ref ref="dailyErrorFile" />
	</root>
	
</log4j:configuration>